{
	"semi": true,
	"singleQuote": true,
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 150,
	"useTabs": true,
	"tabWidth": 2,
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss", "@prettier/plugin-php"],
	"tailwindFunctions": ["clsx", "cn", "cva"],
	"tailwindStylesheet": "resources/css/app.css",
	"overrides": [
		{
			"files": "**/*.yml",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "**/*.php",
			"options": {
				"useTabs": true,
				"tabWidth": 2,
				"printWidth": 150,
				"phpVersion": "8.4"
			}
		}
	]
}
